.content{
    width: 400px;
    min-height: 100px;
    display: flex;
}

.menu-item{
    width: 100%;
    display: flex;
flex-direction:row;


    span{
        width: 30px;
    }

    h5{
        color: red;
    }
}